@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --paper: 248 246 242;   /* fondo papel */
  --ink: 18 18 18;        /* texto */
  --muted: 113 113 122;   /* gris */
  --accent: 180 141 74;   /* dorado */
}

body {
  margin: 0;
  background: rgb(var(--paper));
  color: rgb(var(--ink));
}
